.header-menu {
    width: 100%;
    background-color: lightblue;

    > * {
        display: inline-block;

        > * {
            display: inline-block;
        }
        
    }

    .icon {
        > img {
            height: 50px;
            margin-top: auto;
            margin-bottom: auto;
            vertical-align: middle;
        }
        > p {
            font-size: 1.2em;
        }
    }
}
