.footer-menu {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

.footer-menu > .links {
    
}
.footer-menu > .links > * {
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
}

.footer-menu .copyright {
    
}


.dark-mode-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}
