.footer-menu {
    width: 100%;
    text-align: center;

    > .links {
        > * {
            margin-left: 2px;
            margin-right: 2px;
            text-decoration: none;
        }
    }

    .copyright {
    
    }

    .dark-mode-button {
        width: 35px;
        height: 35px;
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        color: inherit;
    }
}
