.journal-display {

}
.journal-display > .box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    gap: 10px 15px;
}
.journal-display > .box-list > a {
    text-decoration: none;
    flex-grow: 1;
}
.journal-display > .box-list .box-list-item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}
.journal-display > .box-list .box-list-item > h3 {
    text-align: center;
}
.journal-display > .box-list .box-list-item > div {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 5px;
}
.journal-display > .box-list .box-list-item > div > a {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}
