body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;

    .primary-bg {
        background-color: cornflowerblue;
        color: #222;
    }
    .secondary-bg {
        background-color: lightblue;
        color: #333;
    }

    a, a:visited {
        color: inherit;
    }

    textarea {
        padding: 5px;
    }

    // markdown related

    .markdown-body {
        background-color: transparent!important;
        color: #333;
    }
}


body.dark-mode {
    background-color: #1a1919;
    color: #aaa;
    transition: background-color 0.3s ease;

    .primary-bg {
        background-color: darkblue;
        color: #ccc;
    }
    .secondary-bg {
        background-color: cadetblue;
        color: #ddd!important;
    }
    
    a, a:visited {
        color: inherit;
    }

    textarea {
        background-color: #222;
        color: #ddd;
    }

    // markdown related

    .markdown-body {
        background-color: transparent!important;
        color: #999;
    }
}
